#contentsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#price{
   
    color: brown;
    font-weight: bold;
    
}

#title{
    color: brown;
    font-weight: bold;
}


#imgDiv, #detailsDiv {
    height: 500px;
    

  
}
#bigimg{
    width: 550px;
    min-height: 300px;
    max-height: 400px;
}
#smlimgDiv{
    display: flex;
    height: 550px;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-left: 6px;
  
}

.smimgs{
    height: 80px;
    width: 100px;
    border: 1px gray solid;
}
.breadcrumb{
    background-color: transparent;
    border: 1px darkgrey solid;
    font-size: 12px;
    color: darkgray;
    margin-top: 10px;

}

.breadcrumb-item, .breadcrumb-item a
{
    color: darkslategrey !important;
    font-weight: bold;



}

.active{
color: black;
font-weight: normal;
}

#detailsDiv{
    width: 300px;
}
#title, #description{
    word-wrap: break-word;
}


@media screen and (max-width : 767px) 
{
    #confermation{
        
    }
  
    #contentsDiv{
        display: grid;
        
    }

    #title{
        width: 100%;
    }

    #bigimg{
        width:275px;
        min-height: 150px;
        max-height:200px;
    }
    #smlimgDiv{
        display: flex;
        height: 275px;
        margin-top: 5px;
        flex-wrap: wrap;
        margin-left: 3px;
      
    }
    
    .smimgs{
        height: 40px;
        width: 50px;
        border: 0.5px gray solid;
    }
    
}

@media screen and (max-width : 1180px) 
{
    #confermation{
       
    }
    #title{
        width: 100%;
    }
    #contentsDiv{
        display: grid;
        justify-content: center;
        justify-items: center;
    }

    #bigimg{
        width:275px;
        min-height: 150px;
        max-height:200px;
    }
    #smlimgDiv{
        display: flex;
        height: 275px;
        margin-top: 5px;
        flex-wrap: wrap;
        margin-left: 3px;
      
    }
    
    .smimgs{
        height: 40px;
        width: 50px;
        border: 0.5px gray solid;
    }
    
}
@media screen and (max-width : 740px) 
{
    #confermation{
        
    }
    #contentsDiv{
        display: grid;
        width: 100%;

    }

    #bigimg{
        width:275px;
        min-height: 150px;
        max-height:200px;
        width: 100%;
    }
    #smlimgDiv{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 100px);
        height: 275px;
        margin-top: 5px;
        flex-wrap: wrap;
        margin-left: 3px;
        width: 100%;
      
    }
    
    .smimgs{
        height: 80px;
        width: 80px;
        border: 0.5px gray solid;
    }
    
}

#confermation{
 color: #008000;
 font-weight: bold;
 
}
